<section class="login_page_wrp"></section>
  <div class="container login_wrapper">
    <div class="row">
      <!-- left sec -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 login_left_sec">
        <!-- <img src="images/login_img.jpg"  alt="login" class="img-fluid"/> -->
      </div> 
      
      <!-- right sec -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 login_right_sec">
        <div class="text-center">
          <img src="{{imgUrl}}/logo.png" class="logo" alt="logo"/>
        
        </div>

        <div class="login_form_container" >
          <div class="alert-center">
            <div #alert class="alert alert-danger alert-dismissible" *ngIf="rply == 0">
              <button id="adduser_danger" type="button" class="close" data-dismiss="alert" (click)="closeAlert();">&times;</button>
              {{this.message}} 
            </div>
          </div>
          <div class="alert-center">
            <div #alert class="alert alert-success alert-dismissible" *ngIf="rply == 1">
              <button id="adduser_success" type="button" class="close" data-dismiss="alert" (click)="closeAlert();">&times;</button>
              {{this.message}} 
            </div>
          </div>
          <h2 class="form_head">Reset Password </h2>
          <form class="form_wrp" [formGroup]="resetPasswordForm"  (ngSubmit)="resetPassword()">
            <p class="input_wrp">
              <label>Password</label>
              <input placeholder="Enter your password" formControlName="password" type="password" class="textbox" required id="" maxlength="8">
            </p>
            <p *ngIf="submitted && f.password.errors" class="validation-msg">
              <span *ngIf="f.password.errors.required">Please enter your password.</span>
            </p>
            
            <p class="input_wrp">
              <label>Confirm Password</label>
              <input placeholder="Enter your password" formControlName="confirmPassword" type="password" class="textbox" required maxlength="8" />
            </p>
            <p *ngIf="submitted && f.confirmPassword.errors" class="validation-msg">
              <span *ngIf="f.confirmPassword.errors.required">Please enter your password.</span>
              <span *ngIf="resetPasswordForm.get('confirmPassword').errors.confirmPassword"> Password and confirm password didn't match.</span>
            </p>
            
            <div class="form_footer">
              <input type="submit" value="Login" class="acc_submit_btn" id="login_submit">
            </div>
            <div>&nbsp;</div>
          </form>
        </div>
      </div>       
    </div>
  </div>

