

.left_aside{
    width: 305px;
}  

.fixedClass { 
    position: fixed; /* dynamic class added when sidebar goes up */
    bottom: 400px;
}

@media (max-width:1400px) { 
    .left_aside{
        width: 255px;
    }  
}

@media (max-width:1200px) { 
    .left_aside{
        width: 210px;
    }  
}

@media (max-width:767px) { 

    .fixedClass {
        position: static;
    }
}

.profile_box {
    position: relative;
    margin-left: 25px;
}


/* ---------------- Left Sidebar --------------------- */

.aside_wrp{ /* class is common to all sidebar widgets */
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(66, 65, 65, 0.2);
    /* box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);  */
}

/* ---------------- .profile_box_xs ---------------- */
.profile_settings_wrp{
    display: none;
    padding: 20px 10px;
    color: #000;
    font-weight: 600;
    background: #fff;
    border: 1px solid #e4e4e4;
} 

.close_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.close_btn img{
    width: 28px;
}

.profile_settings_wrp .user_avatar{
 position: absolute;
}

.profile_settings_wrp .user_avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.user_settings{
    margin-left: 60px;
}

.profile_settings_wrp .profile_name{
    font-size: 18px;
}

.profile_nav{
    margin: 5px 0 0;
}

.profile_nav li{
    display: inline-block;
    margin-right: 20px;
}

.profile_nav li a {
    color: #7f7f7f;
}



/* ------ Widgets -------- */

/* ======== User timeline page ======== */

/* wt Profile Info  */
.Profile_wrp li{
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
    font-weight: 600; 
}

.Profile_wrp li:last-child{
    border-bottom: none;
}

.profile_info  {
    color: #000;
    display: block;
    background-image: linear-gradient(0deg, transparent 65%, #ec3237 35%);
    font-size: 17px;
    font-weight: 700!important;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

.profile_info .user_avatar {
    display: block;
    margin-bottom: 10px; 
}

.profile_info .user_avatar img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.profile_info .user_job{
    display: block;
    font-size: 12px;
    color: #7d7d7d;
    font-weight: 600;
}

.Profile_wrp li .count{  float: right;}

/* --- wt classroom --- */

/* .wt_classroom{} */

.wt_wrp .wt_title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding: 10px;
}

.wt_classroom .list{
    padding: 0 10px;
    overflow: hidden;
}

.wt_classroom li {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
}

.wt_classroom li:last-child {
    margin-bottom: 0px;
}

.wt_classroom .user_avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.wt_wrp .btn_wrp{
    padding: 10px 0;
    display: block;
    text-align: center;
}

.wt_wrp .more_btn{
    color: #ec3237;
    display: inline-block;
    padding: 8px 20px;
    font-weight: 600;
}

.wt_wrp .more_btn:hover{
    text-decoration: underline;
}

/* ======== Add Blog page (sidebar) ======== */

/* --- user Profile wrap --- */

.user_Profile_wrap{background: #fff;}

.user_Profile_wrap .profile_info  { /* li first child */
    color: #000;
    display: block;
    background-image: linear-gradient(0deg, transparent 55%, #ec3237 45%);
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px 3px 0 0;
    border-bottom: none;
    display: block;
    padding-bottom: 0;
}

.user_Profile_wrap .profile_info .user_avatar {
    display: block;
    margin-bottom: 10px;
}

.user_Profile_wrap .profile_info .user_avatar img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.user_Profile_wrap .personal_info .email{ 
    margin-bottom: 12px;
}

.user_Profile_wrap .personal_info span{
    float: right;
}


.user_Profile_wrap li{ /* all li */
    border-bottom: 1px solid #e4e4e4;
    padding:10px;
    font-weight: 600;
}

.user_Profile_wrap li .icon{
    width: 18px;
    margin-right: 10px;
}

.user_Profile_wrap li:last-child{
    border-bottom: none;
}



/* -------------------- Media Queries -------------------- */

 @media screen and (min-width: 992px){

    .left_aside{ display: block!important; }
} 

@media screen and (max-width: 991px){
    .left_aside{
        display: none;
        position: fixed;
        width: 0px;  
        z-index: 1;
        background: rgb(245, 245, 245);
        left: 0px;
        top:48px;
        /* padding: 0px 20px; */
        overflow: auto;
        height: calc(100% - 50px);
        box-shadow: 0 3px 3px rgba(66, 65, 65, 0.2);
        transition: 0.4s; /*0.5 second transition effect to slide in the sidepanel */
    }

    .left_aside.sidebar_width .aside_wrp { /*smooth transition for inner elements */
       opacity: 0;
       margin: 0px 15px;
    } 

    .left_aside.sidebar_width .aside_wrp { /*smooth transition for inner elements */
        animation: fadeInRight .10s ease forwards;
        animation-delay: 0.2s;    
    }

    @keyframes fadeInRight {
		0% {
			opacity: 0;
			left: 0%;
		}
		100% {
			opacity: 1;
			left:100%;
		}
    }  
    
    .sidebar_width{
        width: 40%; 
    }

    .profile_settings_wrp{
        display: block;
    }

}

@media screen and (max-width: 767px){
    .sidebar_width{
        width: 45%;
    }
}

@media screen and (max-width: 576px){
    .sidebar_width{
        width: 80%;
    }
}