

 <!--Left Sidebar -->
 <section class="left_aside sidebar_pos" id="leftsidebar" [ngClass]="{'fixedClass': val == 1}" >
    
  <!-- profile setting box xs (All Pages) -->
  <div class="profile_settings_wrp mb-3">
    <a href="javascript:void(0)" class="close_btn">
      <img src="{{imgUrl}}/close_icon.png" alt="close" > 
    </a>

    <span class="user_avatar"> 
      <img src="{{imgUrl}}/user.jpg" alt="...">   
    </span> 
    <div class="user_settings">
      <span class="profile_name">John Doe </span>
      <ul class="profile_nav">
        <li><a href="#">Profile</a> </li>
        <li> <a href="#">Logout</a> </li>
      </ul>
    </div>
  </div>

  <!-- user_profile info (Pages: User Timeline / ) -->
  <div class="Profile_wrp aside_wrp my-3" *ngIf = "showSideBarBlock == 0;">
    <ul>
        <li class="profile_info">
          <span class="user_avatar">  <img src="{{imgUrl}}/user.jpg" alt="...">  </span> 
          {{name}}
          <span class="user_job">Physics Professor at Cambridge University</span>
        </li>

        <li>
          Following <span class="count">154</span>
        </li>

        <li>
          Followers <span class="count">55</span>
      </li>
    </ul>
  </div>

  <!-- Classrooms (Pages: User Timeline / ) -->
  <div class="wt_classroom wt_wrp aside_wrp my-3" *ngIf = "showSideBarBlock == 0;">
    <h4 class="wt_title">Classrooms</h4>
    <ul class="list">
        <li>
            <span class="user_avatar">  <img src="{{imgUrl}}/user.jpg" alt="...">  </span> 
            Tourist Destination
        </li>

        <li>
            <span class="user_avatar"> <img src="{{imgUrl}}/user.jpg" alt="...">  </span> 
            Tourist Destination 
        </li>

        <li>
          <span class="user_avatar"> <img src="{{imgUrl}}/user.jpg" alt="...">  </span> 
          Tourist Destination
      </li>
    </ul>
    <span class="btn_wrp">
      <a href="#" class="more_btn">Show All Classrooms</a>
      </span>
  </div>


  <!-- Profile_wrp (Pages: Add Blog / ) -->
  <div class="user_Profile_wrap aside_wrp my-3" *ngIf = "showSideBarBlock == 1;">
  <ul>
    <li class="profile_info">
      <span class="user_avatar">  <img src="{{imgUrl}}/user.jpg" alt="...">  </span> 
      {{name}}
      <span class="user_job">Physics Professor at Cambridge University</span>
    </li>

    <li class="personal_info"> 
      <div class="email"> Email:  <span>{{email}}</span></div>

      <div class="contact">Phone: <span>{{mobile}}</span>  </div>
    </li>

    <li>
      <img src="{{imgUrl}}/icon_prsnl-info.png" alt="icon" class="icon"> Personal Information
    </li>

    <li>
      <img src="{{imgUrl}}/icon_cng-pwd.png" alt="icon" class="icon"> Change password
    </li>

    <li>
      <img src="{{imgUrl}}/icon_followers.png" alt="icon" class="icon"> Followers
    </li>

    <li>
      <img src="{{imgUrl}}/icon_following.png" alt="icon" class="icon"> Following
    </li>

    <li>
      <img src="{{imgUrl}}/icon_blog.png" alt="icon" class="icon"> My Blog
    </li>

    <li>
      <img src="{{imgUrl}}/icon_classroom.png" alt="icon" class="icon"> My Classroom
    </li>

    <li>
      <img src="{{imgUrl}}/icon_courses.png" alt="icon" class="icon">  My Courses
    </li>
  </ul>
    
  </div>  

 
</section>
