
<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <!-- logo -->
          <a class="navbar-brand" href="#">
            <img src="{{imgUrl}}/logo_xs.png" class="logo_xs" alt="logo"/>
            <img src="{{imgUrl}}/logo_icon.png" class="logo_icon" alt="logo"/>
          </a>
          
          <!-- menu btn -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->

           <!-- menu pages links -->
          <!-- <div class="collapse navbar-collapse" id="main_menu">
             <ul class="menu_links">
              <li><a href="#">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul> 
          </div> -->

          <!-- Search form md/lg -->
          <form class="search_form form-inline mr-auto">
            <input class="" type="search" placeholder="Search Query, Courses, Blog, Classroom">
            <button type="submit"><img src="{{imgUrl}}/icon_search.png"></button>
          </form>

          <!-- Search menu (mobile) -->
          <div ngbDropdown class="ml-auto search_xs_wrp">
            <a href="javascript:void(0);" class="search_xs" id="xs-search-panal" ngbDropdownToggle>
              <i class="fa fa-search"></i>
            </a> 

            <!-- search panal -->
            <div class="search_panal_xs" ngbDropdownMenu aria-labelledby="xs-search-panal">
              <form class="form-inline">
                <input class="" type="search" placeholder="Search Query, Courses, Blog, Classroom">
                <button type="submit"><img src="{{imgUrl}}/icon_search.png"></button>
              </form>
            </div>
          </div> 

          <!-- right menu (notification / message)-->
          <ul class="nav main_nav">
            <!-- Message menu -->
            <li ngbDropdown>
              <a href="javascript:void(0);" class="notification_nav" id="message-panal" ngbDropdownToggle>
                <span class="badge_icon">
                  <i class="fa fa-envelope-o" ></i>  
                  <span class="badge badge-green">2</span>
                </span>
                <!-- <span class="nav_text"> Messaging </span> -->
              </a>

              <!-- Message panal -->
              <div class="message_panal" ngbDropdownMenu aria-labelledby="message-panal">
                
                <div class="panal_head" ngbDropdown>
                  <h5 class="msg_title">Messages</h5>
                  <a href="javascript:void(0);" class="msg_settings" id="msg-settings_btn" ngbDropdownToggle>
                    <i class="fa fa-ellipsis-h"></i>
                  </a>

                  <div class="msg_settings_nav" ngbDropdownMenu aria-labelledby="msg-settings_btn">
                    <ul>
                      <li> 
                        <a href="#"> <i class="fa fa-check"></i> Mark all as read </a> 
                      </li>
                      <li> 
                        <a href="#">  <i class="fa fa-cog" ></i> Messgae Settings </a> 
                      </li>
                    </ul>
                  </div>
                </div>
  
                <ul class="panal_list">
                  <li class="msg_item d-flex">
                    <img src="{{imgUrl}}/user.jpg"  class="msg_profile_thumb"/>
                    
                    <div class="msg_content">
                      <a href="#">Robert Faul</a>
                      <p> 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
                      </p>
                      <span class="nt_time">4 hours before</span>
                    </div>
                  </li>

                  <li class="msg_item d-flex">
                    <img src="{{imgUrl}}/user.jpg"  class="msg_profile_thumb"/>
                    
                    <div class="msg_content">
                      <a href="#">Robert Faul</a>
                      <p> 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
                      </p>
                      <span class="nt_time">4 hours before</span>
                    </div>
                  </li>
                </ul>
                
                <div class="panal_footer">
                  <a href="#">Show All</a>
                </div>
  
              </div>

            </li>

            <!-- notification menu -->
            <li ngbDropdown >
              <a href="javascript:void(0);" class="notification_nav" id="notification-panal" ngbDropdownToggle>
                <span class="badge_icon">
                  <i class="fa fa-bell-o"></i> 
                  <span class="badge badge-red">2</span>
                </span>
                <!-- <span class="nav_text"> Notifications </span> -->
              </a>

              <!-- notification panal -->
              <div class="notification_panal" ngbDropdownMenu aria-labelledby="notification-panal">
                
                <div class="panal_head" ngbDropdown>
                  <h5 class="nt_title">Notification</h5>
                  <a href="javascript:void(0);" class="nt_settings" id="nt-settings-btn" ngbDropdownToggle>
                    <i class="fa fa-ellipsis-h"></i>
                  </a>

                  <div class="nt_settings_nav" ngbDropdownMenu aria-labelledby="nt-settings-btn">
                    <ul>
                      <li> 
                        <a href="#"> <i class="fa fa-check"></i> Mark all as read </a> 
                      </li>
                      <li> 
                        <a href="#">  <i class="fa fa-cog" ></i> Notifaction Settings </a> 
                      </li>
                    </ul>
                  </div>
                </div>
  
                <ul class="panal_list">
                  <li class="nt_item d-flex">
                    <img src="{{imgUrl}}/user.jpg"  class="nt_profile_thumb"/>
                    
                    <div class="nt_msg_content">
                      <a href="#">Robert Faul</a>
                      <p> reacted to your photo</p>
                      <span class="nt_time">4 hours before</span>
                    </div>
                  </li>

                  <li class="nt_item d-flex">
                    <img src="{{imgUrl}}/user.jpg"  class="nt_profile_thumb"/>
                    
                    <div class="nt_msg_content">
                      <a href="#">Sophi</a>
                      <p>  sent you a email</p>
                      <span class="nt_time">2 days ago</span>
                    </div>
                  </li>
                </ul>
                
                <div class="panal_footer">
                  <a href="#">Show All</a>
                </div>
  
              </div>
              
            </li>
          </ul>
         
          <!-- Profile box md/lg-->
          <div class="profile_box profile_box_lg" ngbDropdown>
            <a href="javascript:void(0)" id="profile-dropdown" ngbDropdownToggle> 
              <span class="user_avatar"> 
                <img src="{{imgUrl}}/user.jpg" alt="..."> 
              </span> 
              <span class="profile_name">{{fullName}} </span>
            </a>

            <ul ngbDropdownMenu aria-labelledby="profile-dropdown"> 
              <li> <a href="#">Profile</a> </li> 
              <li> <a href="#">Settings</a> </li> 
              <li> <a href="javascript:;" (click)="logout();">Logout</a> </li> 
            </ul>
          </div>

          <!-- profile box sm/xs -->
          <div class="profile_box profile_box_xs">
            <a href="javascript:void(0)"> 
                <span class="user_avatar"> 
                  <img src="{{imgUrl}}/user.jpg" alt="..."> 
                </span> 

                <!-- Sidebat togglr btn sm -->
                <button class="sidebarbtn_xs" id="sidebar_menubtn" (click)="toggelFun();">
                  <img src="{{imgUrl}}/vertical_menu.png" alt="menu"/> 
                </button>

                <span class="profile_name">John Doe </span>
            </a>
            
          </div>

        </nav>

      </div>
    </div>
  </div>
</header>




