
header{ 
    background: #fff;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    padding: 3px 0;
    max-height: 50px;
}

.navbar{padding: 0;}

.logo_icon,
.sidebarbtn_xs{display: none;}

/* ------ Search Form ------*/

.form-inline{
    width:40%;
    background: #f5f5f5;
    border-radius:4px;
}

.form-inline input{
    border: none;
    outline: none;
    width: calc(100% - 40px);
    padding: 0 10px;
    background: transparent;
}

.form-inline button{
    border: none;
    outline: none;
    padding: 5px 0;
    background: #ec3237;
    width: 40px;
    border-radius: 0 4px 4px 0;
}

.form-inline img{width:16px;}

/* ------ search form xs ------ */

.search_xs_wrp{
    position: static;
}

.search_xs{ /* search_xs (for tab / mobile less tahn 767px) */
    display: none;
    color: #000;
} 

.search_xs::after{
    display: none;
}

/* ------ Main nav ------ */

.main_nav li{
    margin-left:25px;
    position: relative;
    padding: 10px 0;  /* used for dropdown menu position */
}

.main_nav li a{
    color:#000;
}

.main_nav li .fa{
    font-size: 19px;
    vertical-align: middle;
}

.notification_nav::after {display: none;}

.badge_icon{
   position: relative;
}

.badge_icon .badge{
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -5px;
    color: #fff;
    border-radius: 50%;
}

.badge-red{background:#ec3237;}

.badge-green{background:#18a738;}

/* .main_nav li .nav_text{
    margin-left: 5px;
} */

/* ------ all Dropdown menu(align right) ------ */ 

.dropdown-menu{
    right: 0;
    left: auto;
    padding: 0;
    box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
    border:none;
}

/* ------ Message / Notification Dropdown Panal ------ */

.notification_panal,
.message_panal{
    width: 380px;
    padding: 0;
    font-size: 14px;
}

/* panal head */
.notification_panal .panal_head,
.message_panal .panal_head{
    padding: 8px 10px;
    border-top: 3px solid #ec3237;
    float: left;
    width: 100%;
}

.panal_head .nt_title,
.panal_head .msg_title{
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}

.panal_head .nt_settings,
.panal_head .msg_settings{
    float: right;
}

.panal_head .nt_settings:after,
.panal_head .msg_settings::after{
   display: none;
}

.panal_head .nt_settings .fa,
.panal_head .msg_settings .fa{
    color:#777;
}

.nt_settings_nav,
.msg_settings_nav{
    font-size: 14px;
    margin-top: -8px;
}

.nt_settings_nav li,
.msg_settings_nav li{
    padding: 8px 10px;
    margin: 0px;
    border-top: 1px solid #e4e4e4;
}

.nt_settings_nav li a,
.msg_settings_nav li a{
    color:#000;
}

.nt_settings_nav li .fa,
.msg_settings_nav li .fa{
    margin-right: 5px;
    font-size: 14px;
    color: #5a5a5a;
}

.nt_settings_nav li:last-child,
.msg_settings_nav li:last-child{
    border-bottom:none;
}

/* panal content */

.notification_panal .panal_list,
.message_panal .panal_list{
    clear: both;
    max-height: 420px;
    overflow: auto;
} 

.notification_panal .nt_item,
.message_panal .msg_item {
    padding: 8px 10px;
    margin: 0px;
    border-top: 1px solid #e4e4e4;
}

.nt_profile_thumb,
.msg_profile_thumb{
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
}

.nt_msg_content,
.msg_content{
    padding-left: 10px;
}

.nt_msg_content a,
.msg_content a {
    color: #000;
    font-weight: 700;
}

.nt_msg_content p{
    display: inline;
}

.msg_content p{
    margin-bottom: 0;
}

.nt_time{
    display: block;
    font-weight: 600;
    color: #777777;
    font-size: 12px;
    margin-top: 5px;
}

/* panal footer */
.notification_panal .panal_footer,
.message_panal .panal_footer{
    text-align: center;
    padding: 8px 10px;
    border-top: 1px solid #e4e4e4;
    font-weight: 600;
}

.notification_panal .panal_footer a,
.message_panal .panal_footer a{
    color: #ec3237;
}

.notification_panal .panal_footer a:hover,
.message_panal .panal_footer a:hover{
    text-decoration: underline;
}


/* -------------- */

/* ------ Profile menu ------ */

.profile_box {
    position: relative;
    margin-left: 25px;
}

/* .profile_box_lg{display: block;} */

.profile_box_xs{
    display: none;
}

.profile_box a {
    color: #000;
    font-weight: 600;
    display:block;
}

.profile_box .user_avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #ccc;
}

/* ------ Profile menu dropdown panal ------ */

.profile_box .dropdown-menu{
    margin-top: 5px;
}

.profile_box .dropdown-menu li {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: normal;
}

/* .profile_box .dropdown-menu li:last-child {
    border-bottom: none;
} */

/* .profile_box .dropdown-menu li a {
    
} */


/* ============== Media Queries ============== */

@media screen and (max-width: 991px){

    .main_nav li .nav_text{
        display: none;
    }

    .form-inline {
        width: 50%;
    }

    .profile_name{display: none;}
    
    .profile_box_lg{
        display: none;
    }

    .profile_box_xs{
        display: block;
    }

    .sidebarbtn_xs{
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #3a3636;
        position: absolute;
        right: -5px;
        bottom: -10px;
        z-index: 1024;
    }
   
}

@media screen and (max-width: 767px){

    .search_form.form-inline{display:none;}

    .search_xs{display:block;}

    .search_panal_xs{
        width: 100%;
        background: #fff;
        padding: 10px 0;
        box-shadow: 0 3px 3px rgba(66, 65, 65, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 14px;
    }

    .search_panal_xs .form-inline{
        display:block;
        width: 90%;
        margin: 0 auto;
    }


}


@media screen and (max-width: 576px){

    .logo_xs{
        display: none;
    }

    .logo_icon{display: block;}

    .notification_panal,
    .message_panal{
        width: 230px;
        right:-50px;
}
    
}