<footer>
  <ul class="other_links">
    <li><a href="#">About</a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Terms</a></li>
    <li><a href="#">Ad Choice</a></li>
  </ul>
     
  <div class="copyright">
    <img src="{{imgUrl}}/logo_icon.png" class="logo_icon" alt="logo"/>
    Weplexus © 2020 
  </div>
   
</footer>
