

/* footer{
    background: #fff;
    padding-top: 20px;
    margin-top: 50px;
} */

/* footer .widget {margin-bottom: 20px;} */


footer{font-size: 12px;}

footer ul{
    text-align: center;
}

footer ul li {
  margin:0 10px 5px;
  display:inline-block;
}

footer a, footer a:hover, footer a:focus { color: #424242;}

.copyright {
    padding: 10px 0;
    text-align: center;
}

.copyright .logo_icon{
    width: 20px;
}

/* footer h4 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
    text-transform: uppercase;
} 

.subscribe_form{ width: 100%;}

.subscribe_form input{
    width: 60%;
    outline: none;
    border: 1px solid #ccc;
    padding: 8px 10px;
}

.subscribe_form button{
    background: #ec3237;
    outline: none;
    color: #fff;
    width: 30%;
    display: block;
    margin-top: 10px;
    border-radius: 0;
} */




/* -------------------- Media Queries -------------------- */
	
@media screen and (max-width: 767px){

    footer {text-align: center;}

    footer .widget {margin-bottom: 30px;}

    /* .subscribe_form button{margin: 10px auto 0;} */

}
   