
 .register_page_wrp{
    background:#fef4f4 url(../../assets/images/register_bg.png) no-repeat;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
} 

.register_wrapper{
    /* width: 75%;*/
    margin-top: 50px;
    margin-bottom: 50px;
  
}

.register_wrapper .row{ align-items: center;}

.right_sec{ 
    background:#fff;
    padding-top: 20px;
    padding-bottom: 100px;
}

.register_img{
    position: relative;
    width: 150%;
    z-index: 1;
    box-shadow: 0 5px 7px rgba(66, 65, 65, 0.6);
}

/* .login_left_sec{} */

.form_container{
    width: 60%;
    margin-left: 22%;
}

.logo{ margin-bottom:40px;}

.form_wrp{margin-top: 30px;}
    
.form_head{
    font-size: 32px;
    font-weight: 800;
    color: #000;
}

.form_wrp .input_wrp {margin-bottom: 25px;}

.form_wrp label {
    font-weight:700;
    font-size:16px;
}

.form_wrp .textbox {
    width: 100%;
    padding: 8px 10px;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

/* Placeholder colors */
.form_wrp .textbox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a5a5a9;
    opacity: 0.6; /* Firefox */
    font-weight: 400;
}

.form_wrp .textbox:-ms-input-placeholder, /* Microsoft Edge */
.form_wrp .textbox::-ms-input-placeholder  /* Internet Explorer 10-11 */{ 
    color: #a5a5a9;
    font-weight: 600;
}

.acc_submit_btn{
    background: #ec3237;
    color: #fff;
    outline: 0;
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 2px;
    margin-bottom: 20px;
}

.link_forgot_pwd,
.link_forgot_pwd:hover{ 
    display: block;
    color: #6c757d;
    font-weight: 700;
    font-size: 14px;
    /* margin-top: 11px; */
    text-decoration: none;
}

/* -------------------- Media Queries -------------------- */
	
	@media screen and (max-width: 992px){
		.left_sec{
			display: none;
        }
        
        .form_container {
           width: 80%;
            margin: 0 auto;
        }

        .right_sec{
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    

