<section class="register_page_wrp">
  
</section>
  <div class="container register_wrapper">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 left_sec">
        <img src="{{imgUrl}}/register_img.jpg" class="register_img" alt="register"/> 
      </div>
            
      <!-- right sec -->
      <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 right_sec">
        <div class="text-center">
          <img src="{{imgUrl}}/logo.png" class="logo" alt="logo"/>
        </div>

        <div class="form_container">
          <div class="alert-center">
            <div #alert class="alert alert-danger alert-dismissible" *ngIf="rply == 0">
              <button id="adduser_danger" type="button" class="close" data-dismiss="alert" (click)="closeAlert();">&times;</button>
              {{this.message}} 
            </div>
          </div>
          <div class="alert-center">
            <div #alert class="alert alert-success alert-dismissible" *ngIf="rply == 1">
              <button id="adduser_success" type="button" class="close" data-dismiss="alert" (click)="closeAlert();">&times;</button>
              {{this.message}} 
            </div>
          </div>
          <h2 class="form_head">Join Us Today!</h2>
          <form class="form_wrp" [formGroup]="registrationFrom"  (ngSubmit)="submitRegistrationForm()">
            <div class="row">
              <div class="col-lg-6">
                <p class="input_wrp">
                  <input placeholder="Enter Your Name" type="text" class="textbox" formControlName="firstname" id="name" maxlength="70">
                  <span *ngIf="submitted && f.firstname.errors" class="validation-msg">
                    <span *ngIf="f.firstname.errors.required">Please enter your name.</span>
                  </span>
                </p>
              </div>
              <div class="col-lg-6">
                <p class="input_wrp">
                  <input placeholder="Enter Your Last Name" type="text" class="textbox" formControlName="lastname" id="lastname" maxlength="70">
                  <span *ngIf="submitted && f.lastname.errors" class="validation-msg">
                    <span *ngIf="f.lastname.errors.required">Please enter your lastname.</span>
                  </span>
                </p>
              </div>
            </div>

            <p class="input_wrp">
              <input placeholder="Enter Your Email" type="text" class="textbox" formControlName="email" id="email" maxlength="70">
              <span *ngIf="submitted && f.email.errors" class="validation-msg">
                <span *ngIf="f.email.errors.required">Please enter your email.</span>
                <span *ngIf="f.email.errors.pattern">Please enter valid email.</span>
              </span>
            </p>
            
            <p class="input_wrp">
              <input placeholder="Enter Your Mobile Number" type="text" class="textbox" formControlName="number" required id="" maxlength="15">
              <span *ngIf="submitted && f.number.errors" class="validation-msg">
                <span *ngIf="f.number.errors.required">Please enter your number.</span>
                <span *ngIf="f.number.errors.pattern">Please enter only number.</span>
                <span *ngIf="f.number.errors.minlength">Please enter valid number.</span>
              </span>
            </p>
            
            
            <p class="input_wrp">
              <input placeholder="Enter Your Password." type="password" formControlName="password" class="textbox" maxlength="8" required />
              <span *ngIf="submitted && f.password.errors" class="validation-msg">
                <span *ngIf="f.password.errors.required">Please enter your password.</span>
                <span *ngIf="f.password.errors.minlength">Password length must be 6 charactors.</span>
              </span>
            </p>
            <!-- <input type="submit" value="Register" class="acc_submit_btn" id="login_submit"> 
            <a routerLink="/login" class="link_forgot_pwd">Back to login ?</a>  -->
            <div class="form_footer">
              <input type="submit" value="Submit" class="acc_submit_btn" id="login_submit">
            </div>
            <a routerLink="/login" class="link_forgot_pwd">Back to login ?</a> 
          </form>
                    
        </div>

      </div>       
    </div>
  </div>

