<section class="login_page_wrp"></section>
  <div class="container login_wrapper">
    <div class="row">
      <!-- left sec -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 login_left_sec">
        <!-- <img src="images/login_img.jpg"  alt="login" class="img-fluid"/> -->
      </div> 
      
      <!-- right sec -->
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 login_right_sec">
        <div class="text-center">
          <img src="{{imgUrl}}/logo.png" class="logo" alt="logo"/>
        
        </div>

        <div class="login_form_container" *ngIf="isForgotPassWin == 0">
          <div class="alert-center">
            <div #alert class="alert alert-danger alert-dismissible" *ngIf="rply == 0">
              <button id="adduser_danger" type="button" class="close" data-dismiss="alert" (click)="closeAlert();">&times;</button>
              {{this.message}} 
            </div>
          </div>
          <div class="alert-center">
            <div #alert class="alert alert-success alert-dismissible" *ngIf="rply == 1">
              <button id="adduser_success" type="button" class="close" data-dismiss="alert" (click)="closeAlert();">&times;</button>
              {{this.message}} 
            </div>
          </div>
          <h2 class="form_head">Welcome Back</h2>
          <form class="form_wrp" [formGroup]="loginForm"  (ngSubmit)="login()">
            <p class="input_wrp">
              <label>Email</label>
              <input placeholder="Enter your email" formControlName="email" type="text" class="textbox" required id="" maxlength="50">
            </p>
            <p *ngIf="submitted && f.email.errors" class="validation-msg">
              <span *ngIf="f.email.errors.required">Please enter your email.</span>
              <span *ngIf="f.email.errors.pattern">Please enter valid email.</span>
            </p>
            
            <p class="input_wrp">
              <label>Password</label>
              <input placeholder="Enter your password" formControlName="password" type="password" class="textbox" required maxlength="8" />
            </p>
            <p *ngIf="submitted && f.password.errors" class="validation-msg">
              <span *ngIf="f.password.errors.required">Please enter your password.</span>
            </p>
            
            <div class="form_footer">
            
              <input type="submit" value="Login" class="acc_submit_btn" id="login_submit">
              
              <span class="link_sign_in">Don't have an account? <a href="#" routerLink="/register" routerLinkActive="active" >Sign Up</a></span>
              
            </div>

            <a href="javascript:;" (click)="isForgotPassWin = 1" class="link_forgot_pwd">Forgot Password ?</a> 
            
          </form>
          
          <div class="social_login">
            <p> or You can login with</p>
            
            <a href="#" class=""><img src="{{imgUrl}}/facebook.png"></a>
            
            <a href="javescript:;" class="" (click)="signInWithGoogle()"><img src="{{imgUrl}}/google-plus.png"></a>
          </div>
          
        </div>
        <div class="login_form_container" *ngIf="isForgotPassWin == 1">
          <h2 class="form_head">Forgot Password</h2>
          <form class="form_wrp" [formGroup]="forgotPasswordForm"  (ngSubmit)="submitMail()">
            <p class="input_wrp">
              <label>Email</label>
              <input placeholder="Enter your Email" formControlName="email" type="text" class="textbox" required id="">
              <span *ngIf="forgotPassFormSubmitted && forgotPassword.email.errors" class="validation-msg">
                <span *ngIf="forgotPassword.email.errors.required">Please enter your email.</span>
                <span *ngIf="forgotPassword.email.errors.pattern">Please enter valid email.</span>
              </span>
            </p>
            
            <div class="form_footer">
            
              <input type="submit" value="Submit" class="acc_submit_btn" id="login_submit">
              
              <span class="link_sign_in">Don't have an account? <a href="#" routerLink="/register" routerLinkActive="active" >Sign Up</a></span>
              
            </div>

            <a href="javascript:;" (click)="isForgotPassWin = 0"class="link_forgot_pwd">Back to login ?</a> 
            <div class="social_login">
              <p> or You can login with</p>
              
              <a href="#" class=""><img src="{{imgUrl}}/facebook.png"></a>
              
              <a href="javescript:;" class="" (click)="signInWithGoogle()"><img src="{{imgUrl}}/google-plus.png"></a>
            </div>
          </form>
          
        </div>
      </div>       
    </div>
  </div>

