

.login_page_wrp{
    background:#eef2f5 url('../../assets/images/login_bg.jpg');
    background-repeat:repeat-y;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

.login_bg_wrp{
    position: absolute;
    width:100%;
    height:100%;
}

.login_wrapper{
    /* width: 75%;*/
    margin-top: 50px;
    margin-bottom: 50px;
    /* box-shadow: 0 5px 7px rgba(66, 65, 65, 0.6); */
}

.login_left_sec{
    background:#eef2f5 url('../../assets/images/login_img.jpg');
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    border-radius: 4px 0 0 4px;
}

.login_left_sec::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
}


.login_right_sec{ 
    background:#fff;
    border-radius: 0 4px 4px 0;
}

/* .login_left_sec{} */

.login_form_container{
    width:80%;
    margin: 0 auto;
    margin-top: 35px;
}

.logo{ margin-top:20px;}

.form_wrp{margin-top: 30px;}
    
.form_head{
    font-size: 27px;
    font-weight: 700;
    color: #000;
}

.form_wrp .input_wrp {margin-bottom: 15px;}

.form_wrp label {
    font-weight:700;
    font-size:16px;
}

.form_wrp .textbox {
    width: 100%;
    padding: 8px 10px;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
}

/* Placeholder colors */
.form_wrp .textbox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a5a5a9;
    opacity: 0.6; /* Firefox */
    font-weight: 400;
}

.form_wrp .textbox:-ms-input-placeholder, /* Microsoft Edge */
.form_wrp .textbox::-ms-input-placeholder  /* Internet Explorer 10-11 */{ 
    color: #a5a5a9;
    font-weight: 600;
}

.form_footer{
    margin-top:20px;
}

.acc_submit_btn{
    background: #ec3237;
    color: #fff;
    outline: 0;
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
}

.link_forgot_pwd,
.link_forgot_pwd:hover{ 
    display: block;
    color: #6c757d;
    font-weight: 700;
    font-size: 14px;
    margin-top: 11px;
    text-decoration: none;
}

.link_sign_in{
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    float: right;
}

.link_sign_in a{
    color: #ec3237;
}

.social_login{ 
    text-align:center;
    font-weight: 600;
    margin:40px 0 60px 0;
}

.social_login p{ 
    border-bottom: 1px solid #f1f1f1;
    margin-top: 15px;
    font-size: 18px;
}

.social_login img{ 
    margin:0 5px;
    width: 35px;
}