

<app-header></app-header>

<div class="container cust_grid page_wrp ">
  <div class="row">
    <!--Left Sidebar -->
    <div class="col-lg-3">
      <app-side-bar [ngClass]="{'sidebar_width': val1 == 1}"></app-side-bar>
    </div>

    <!-- main content -->
    <div class="col-md-9 col-lg-6" 
    infinite-scroll
    [infiniteScrollDistance]="0"
    [infiniteScrollUpDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()"
    (scrolledUp)="onUp()"
    [fromRoot]="true">
      <section class="core_aside">
        <!-- user post form -->
        <section class="user_post_wrp my-3">
          <div class="post_bar_head">
            <span class="user_avatar">  <img src="{{imgUrl}}/user.jpg" alt="...">  </span> 
            <p>
              <input type="text" placeholder="What you want to do today?">
            </p>
          </div>

          <div class="post_bar">
            <ul> 
              <li> <a href="javascript:;" routerLink="/userpages/add-blog/1"> <i class="fa fa-share"></i> Blog</a> </li> 
              <li> <a href="#"> <i class="fa fa-share"></i> Classroom</a> </li> 
              <li> <a href="#"> <i class="fa fa-share"></i> Courses</a> </li> 
            </ul>
          </div>

          <!-- <div class="share_btn">
            <a href="#" class="dropdown-toggle more_btn" data-toggle="dropdown" id="sharebtn_list">  
              Share </a>
            <ul class="dropdown-menu"> 
              <li> <a href="#">Blog</a> </li> 
              <li> <a href="#">Classroom</a> </li> 
              <li> <a href="#">Courses</a> </li> 
            </ul>
          </div> -->
        </section>

        <!-- shared post List -->
        <section class="post_wrp my-3" *ngFor="let bl of blogList; let $index = index;" >
          <div class="post_header">
            <span class="user_avatar">  <img src="{{imgUrl}}/user.jpg" alt="...">  </span> 
            <div class="shared_post_wrp">
              <span class="shard_username">{{bl.first_name}} {{bl.last_name}}</span> shared blog <span class="shard_postname">{{bl.title}}</span> 
            </div>
          </div>

          <div class="post_content">
            <p class="img_width" [innerHTML]= bl.blog_text></p>
            <span class="more_btn">
              <a href="javascript:;" routerLink="/userpages/blog-details" >Read More</a> 
            </span>
          </div>
          
          <!-- social_activity_wrp -->
          <div class="post_footer social_activity_wrp">
            <!-- activity counter -->
            <div class="activity_counter clearfix">
                <div class="like_counter float-left">
                  <button>
                    <i class="fa fa-thumbs-o-up"></i> <span *ngIf="bl.likes > 0"> {{bl.likes}}</span>
                  </button>
                </div>

                <div class="comment_counter float-right">
                  <button (click)="Collaps($index)">
                    <span *ngIf="bl.comment_count > 0">{{bl.comment_count}}</span><span> Comments  </span> 
                  </button>

                  <button>
                    <span> Share  </span> 
                  </button>
                </div>
            </div>

            <!-- action_bar wrp -->
            <div class="action_bar_wrp">
              <!-- action_bar -->
              <div class="post_shared_action_bar">
                <button class="like_btn" (click)="like(bl.blog_id)">
                  <i class="fa fa-thumbs-o-up"></i> <span>Like  </span>
                </button>

                <button class="comment_btn" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="isCollapsed" aria-controls="comt_container">  
                  <i class="fa fa-comment-o"></i> <span> Comment  </span> 
                </button>

                <!-- <button class="share_btn_xs">  
                  <i class="fa fa-share-square-o"></i> <span> Share  </span> 
                </button> -->
                
              </div>

              <!-- share_icons_md -->
              <div class="sharethis-inline-share-buttons share_md"></div>

            </div>
          </div>

          <!-- comment wrp -->
          <div class="comment_container" id="blog-comment-{{$index}}" >
            <!-- comment form sec -->
            <div class="comment_box">
              <form>
                <span class="user_avatar"> <img src="{{imgUrl}}/user.jpg" alt="...">  </span>
                <p class="input_wrp">
                  <span>
                    <input type="text" placeholder="add a comment" class="textbox" id="{{bl.blog_id}}">
                    <button class="comment-btn" (click)="addComment(bl.blog_id,0,1)">Post</button>
                  </span>
                </p>
              </form>
            </div>

            <!-- comment list -->
            <ul class="comment_list" *ngIf="bl.comment_count > 0">
              <li class="comment-item" *ngFor="let coment of bl.comments">
                <!-- comment wrp -->
                <div class="comment_wrp">
                  <!-- user_img -->
                  <span class="user_avatar">  <img src="{{imgUrl}}/user.jpg" alt="...">  </span>

                   <!-- comment desc sec -->
                  <div class="comment_desc_wrp">
                    <span class="comment_meta_name">{{coment.first_name}} {{coment.last_name}}</span>
                    <span class="comment-options cursor_pointer" *ngIf="userId === coment.userid">
                      <span (click)="showRplyCommentBox(coment.comment_id, coment.comment)"><img src="{{imgUrl}}/edit.png" alt="..."></span>
                      <span (click)="deleteComment(coment.comment_id)"><img src="{{imgUrl}}/delete_icon.png" alt="..."></span>
                    </span>
                    <p class="comment_desc">
                      {{coment.comment}}
                    </p>
                  </div>

                  <!-- comment action_bar -->
                  <div class="comment_action_bar">
                    <button class="like_btn" (click)="like(coment.comment_id)">
                      <i class="fa fa-thumbs-o-up"></i> <span>Like <span *ngIf="coment.likes > 0">({{coment.likes}})</span>  </span> 
                    </button>
    
                    <button class="comment_btn" (click)="showRplyCommentBox(coment.comment_id, coment.first_name)" 
                    aria-controls="reply_form_1">  
                      <i class="fa fa-comment-o"></i> Reply <span>(1)</span> 
                    </button>
                  </div>  

                  <div class="cmt_reply_container" *ngFor="let subComent of coment.child_comments ">
                    <!-- Reply wrp -->
                    <ul class="reply_list">
                      <li class="comment-item">
                        <!-- comment -->
                        <div class="comment_wrp">
                          <!-- user_img -->
                          <span class="user_avatar">  <img src="{{imgUrl}}/user.jpg" alt="...">  </span>
        
                            <!-- comment desc sec -->
                          <div class="comment_desc_wrp">
                            <span class="comment_meta_name">{{subComent.first_name}} {{subComent.last_name}}</span>
                            <span class="comment-options cursor_pointer" *ngIf="userId === subComent.userid">
                              <span (click)="showRplyCommentBox(coment.comment_id, subComent.comment)"><img src="{{imgUrl}}/edit.png" alt="..."></span>
                              <span (click)="deleteComment(subComent.comment_id)"><img src="{{imgUrl}}/delete_icon.png" alt="..."></span>
                            </span>
                            <p class="comment_desc">
                             {{subComent.comment}}
                            </p>
                          </div>
        
                          <!-- comment action_bar -->
                          <div class="comment_action_bar">
                            <button class="like_btn">
                              <i class="fa fa-thumbs-o-up"></i> <span>Like  </span> 
                            </button>
            
                            <button class="comment_btn" (click)="showRplyCommentBox(coment.comment_id, subComent.first_name)">  
                              <i class="fa fa-comment-o"></i> <span>Reply  </span> 
                            </button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- reply comment form -->
                  <div class="comment_box comt_reply_form rply-comment" id="rply-comment_{{coment.comment_id}}">
                    <form>
                      <span class="user_avatar"> <img src="{{imgUrl}}/user.jpg" alt="...">  </span>
                      <p class="input_wrp">
                        <input type="text" placeholder="{{commenterName}}" class="textbox " id="rply-sub-coment_{{coment.comment_id}}">
                        <button class="comment-btn" (click)="addComment(bl.blog_id,coment.comment_id, 0)">Post</button>
                      </p>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
            <p *ngIf="bl.comment_count > 2" (click)="getAllComment(bl.blog_id, $index)" class="load-more">Load more...</p>
          </div>

        </section>

        <!-- <section class="post_wrp my-3">
          <div class="post_header">
            <span class="user_avatar">  <img src="{{imgUrl}}/user.jpg" alt="...">  </span> 
            <div class="shared_post_wrp">
              <span class="shard_username">John Doe</span> shared blog <span class="shard_postname">Lorem Ispum</span> 
            </div>
          </div>

          <div class="post_content">
            <img src="{{imgUrl}}/login_img.jpg" alt="..." class="img-fluid">  
          </div>
          
          <div class="post_footer">
            <div class="sharethis-inline-share-buttons"></div>
          </div>
        </section>

        <section class="post_wrp my-3">
          <div class="post_header">
            <span class="user_avatar">  <img src="{{imgUrl}}/user.jpg" alt="...">  </span> 
            <div class="shared_post_wrp">
              <span class="shard_username">John Doe</span> shared blog <span class="shard_postname">Lorem Ispum</span> 
            </div>
          </div>

          <div class="post_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <span class="more_btn">
              <a href="#" >Read More </a> 
            </span>
          </div>
          
          <div class="post_footer">
            <div class="sharethis-inline-share-buttons"></div>
          </div>
        </section> -->

      </section>
    </div>

    <!-- Right Sidebar -->
    <div class="col-md-3 col-lg-3">
      <app-right-side-bar></app-right-side-bar>
    </div>

  </div>
</div>







