
/* ---------------- Main content --------------------- */

/* User Post form */
.user_post_wrp{
    background: #fff;
    padding: 15px 15px 10px;
    box-shadow: 0 3px 3px rgba(66, 65, 65, 0.2);
    border-top: 3px solid #ec3237;
    border-radius: 3px;
}

.post_bar_head{
    position: relative;
    padding-left: 60px;
    padding-bottom: 10px;
}

.user_post_wrp .user_avatar {
    display: block;
    position: absolute; /*used for margin-left */
    left:0px;
}

.user_post_wrp .user_avatar img {
    width:42px;
    height: 42px;
    border-radius: 50%;
}

.user_post_wrp p {
    display: inline-block;
    margin: 8px 0;
    font-size: 17px;
    width: 100%;
}

.user_post_wrp p input{
    width: 100%;
    border: none;
}

.user_post_wrp p input:focus{
    outline: none;
}

.post_bar{
    border-top: 1px solid #e4e4e4;
    padding-top: 10px;
}

.post_bar li{
    display: inline-block;
    width: 33.33%;
    text-align: center;
}

.post_bar li a{
    font-size: 15px;
    display: inline-block;
    color: #000;
    /* background: #f5f5f5; */
    border-radius: 16px;
    padding: 5px 20px;
    font-weight: 600;
}

.post_bar li a:hover{
    background: #f5f5f5;
}

.post_bar li a .fa{
    margin-right: 2px;
    color: #ec3237;
    font-size: 13px;
}


/* .user_post_wrp .share_btn{
    float: right;
    position: relative;
}

.share_btn .more_btn{
    background: #ec3237;
    color: #fff;
    padding: 5px 12px;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
}

.share_btn .dropdown-menu {
    padding: 0;
    right: 0;
    left: auto!important;
}

.share_btn .dropdown-menu li{
    margin: 5px 10px;
}

.share_btn .dropdown-menu li a {
    font-size: 14px;
    font-weight: normal;
    color:#000;
} */

/* ------ User Post List ---------- */

.post_wrp{
    background: #fff;
    box-shadow: 0 3px 3px rgba(66, 65, 65, 0.2);
    border-radius: 3px;
}

/* post list header */
.post_header {
    color: #4f4f4f;
    padding: 10px 15px;
    position: relative;
    min-height: 55px;
}

.post_header .user_avatar {
    display: block;
    position: absolute; /*used for margin-left */
    left:15px;
}

.post_header .user_avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post_header .shared_post_wrp{
    display:inline-block;  
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 52px;
}

.post_header .shard_postname,
.post_header .shard_username{
    color: #000;
    font-weight: 700;
}

/* post list content */
.post_content{
    padding: 0 15px 15px;
}

.post_content .more_btn{
    display: block;
    /* margin-top: 20px; */
}

.post_content .more_btn a{
    color: #ec3237 ;
    font-weight: 600;
    /* padding: 5px 10px;
    border: 1px solid #adacac;
    display: inline-block;
    border-radius: 5px; */
}

.post_content .more_btn a:hover{
    text-decoration: underline;
}

/* .post_content .more_btn img{
    margin-left: 5px;
} */

/* post footer */
.post_footer{
    padding: 8px 15px;
    border-top: 1px solid #e4e4e4;
    overflow: hidden;
    font-size: 12px;
} 

.social_activity_wrp button{
    font-weight: 700;
    color: #676767;
}

/* --- activity_counter --- */


.social_activity_wrp .activity_counter{
    padding-bottom: 8px;
    border-bottom:1px solid #e4e4e4;
}

.activity_counter  button{
    background:none;
}

.activity_counter  button:hover{
    color:#ec3237;
    text-decoration: underline;
}

/* .activity_counter .like_counter {
    float: left;
} */

.activity_counter .like_counter .fa{
    background-color: #ec3237;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

/* .activity_counter .comment_counter{
    float: right;
} */



.activity_counter .comment_counter button{
    margin-left: 10px;
}

/* --- action_bar_wrp --- */
.social_activity_wrp .action_bar_wrp{
    padding-top: 8px;
} 

.action_bar_wrp .post_shared_action_bar{float:left;}

.action_bar_wrp .post_shared_action_bar button{
    background: none;
    padding: 5px 10px;
}

.action_bar_wrp .post_shared_action_bar button:hover{
    background: #e6e6e6;
    border-radius: 20px;
}

.action_bar_wrp .post_shared_action_bar button .fa{
   margin-right: 5px;
}

.share_btn_xs{display: none;}

.post_footer .sharethis-inline-share-buttons{
    /* text-align: right!important; */
    float:right!important;
} 


/* ------ comment_container ------ */

.comment_container{
    /* display: none;  initially hide  */
    padding: 8px 15px;
    font-size: 13px;
}

/* comment form sec  */
.comment_box{
    position: relative;
    padding-left: 42px;
    margin-bottom: 10px;
} 

.comment_box .user_avatar{
    display: block;
    position: absolute;
    left: 0px;
}

.comment_box .user_avatar img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
 }

.comment_box .input_wrp{ 
    width: 100%;
    margin-bottom: 0;
}

.comment_box .input_wrp .textbox{ 
    width: 89%;
    padding: 5px 10px;
    color: #333333;
    line-height: 25px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
} 


/* comment list */

.comment_list {
    margin-bottom: 10px;
}

.comment-item{
    margin-bottom: 10px;
}

.comment_list .comment_wrp{
    position: relative;
    padding-left: 42px;
}

.comment_wrp .user_avatar{
    display: block;
    position: absolute;
    left: 0px;
}

.comment_wrp .user_avatar img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
 }

.comment_wrp .comment_desc_wrp{ 
    background: #ececec;
    border-radius: 5px;
    padding: 5px 10px;
}

.comment_desc_wrp .comment_meta_name{ 
    font-weight: 700;
    color: #000;
}

.comment_desc_wrp .comment_desc{
    margin: 0;
}

.comment_action_bar button{
    background: none;
    padding: 5px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 12px;
}

.comment_action_bar button:hover{
    text-decoration: underline;
    color:#ec3237;
}

.comment_action_bar button .fa{
   margin-right: 5px;
}

/* comment_reply form */

 .comment-item .comt_reply_form{
    margin-top: 5px;
} 

/* return by pramod */
.comment-btn  {
    margin-top: 2px;
    background-color: #ec3237;
    color: #fff;
    border-radius: 3px;
   margin-left: 5px;
}
.rply-comment {
    display: none;
}

.load-more{
    font-size: 14px;
    font-weight: 600;
    color: #cec3c3;
    cursor: pointer;
}
.comment-options {
    float: right;
}
.cursor_pointer {
    cursor: pointer;
}




/* -------------------- Media Queries -------------------- */

@media screen and (max-width: 767px){

    .user_post_wrp .share_btn {
        float: none;
        display: block;
    }

    .share_btn_xs{
        display: block;
    }

    .share_md{display: none;}
    
}