 <!-- Right Sidebar -->
 
 <section class="right_aside sidebar_pos" id="rightsidebar" [ngClass]="{'fixedClass': val == 1}">
  <!-- Advertisement sec -->
  <div class="adv_sec aside_wrp my-3">
    <h6>Sponsered</h6>
    
    <a href="#" class="adv_wrp">
      <img src="{{imgUrl}}/rightpanelimage.jpg" alt="..." class="img-fluid mb-2">
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
    </a>
  </div>
  
  <app-footer></app-footer>
</section>  
