
.right_aside{
    width: 305px;
}  

.fixedClass {
    position: fixed;
    bottom: 400px;
}

@media (max-width:1400px) { 
    .right_aside{
        width: 255px;
    }  
}

@media (max-width:1200px) { 
    .right_aside{
        width: 210px;
    }  
}

 @media (max-width:992px) { 
    .right_aside{
        width: 150px;
    }  
} 

@media (max-width:767px) { 
    .right_aside{
        width: 100%;
    }  

    .fixedClass {
        position: static;
    }
}

/* ---------------- Right Sideabr --------------------- */

.aside_wrp{
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(66, 65, 65, 0.2);
    /* box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);  */
}

.adv_sec{
    padding: 10px;
}

.adv_wrp{
    color:#424242;
}