<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <h1>
    Welcome to Angular
  </h1>
  <img width="300" alt="Angular Logo" src="{{imgUrl}}/Tulips.jpg">
</div> -->

<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "large"
  color = "#267bbc"
  type = "ball-clip-rotate-pulse"
  >
</ngx-spinner>
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
