

/* ---------------- Main content ---------------- */

.form_container{
    background:#fff;
 }
 
 .form_head{
     font-size: 18px;
     font-weight: 700;
     color: #000;
     padding: 10px 20px;
     border-bottom: 1px solid #ccc;
 }
 
 .form_wrp{
     padding: 10px 50px;
 }
     
 .form_wrp .input_wrp {margin-bottom: 20px;}
 
 .form_wrp label {
     font-weight:600;
 }
 
 .form_wrp .textbox {
     width: 100%;
     padding: 5px 10px;
     color: #333333;
     font-size: 14px;
     line-height: 25px;
     outline: none;
     border: 1px solid #d8d8d8;
     border-radius: 4px;
 }
 
 .form_wrp textarea {
     resize: none;
     height: 200px;
 }
 
 .form_wrp .checkbox_wrp label{ margin-right: 20px;} 
 
 .form_wrp .checkbox_wrp .checkbox{ margin-right: 5px;} 
 
 .blog_submit_btn{
     background: #ec3237;
     color: #fff;
     outline: 0;
     border: none;
     padding: 10px 50px;
     font-size: 16px;
     font-weight: 400;
     border-radius: 4px;
     margin-bottom: 20px;
 }
 