
<app-header></app-header>

<div class="container page_wrp">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3">
      <app-side-bar [ngClass]="{'sidebar_width': val1 == 1}"></app-side-bar>
    </div>

    <!-- main content -->
    <div class="col-lg-9">
      <div class="alert-center">
        <div #alert class="alert alert-danger alert-dismissible" *ngIf="rply == 0">
          <button id="adduser_danger" type="button" class="close" data-dismiss="alert" (click)="closeAlert();">&times;</button>
          {{this.message}} 
        </div>
      </div>
      <div class="alert-center">
        <div #alert class="alert alert-success alert-dismissible" *ngIf="rply == 1">
          <button id="adduser_success" type="button" class="close" data-dismiss="alert" (click)="closeAlert();">&times;</button>
          {{this.message}} 
        </div>
      </div>
      <!-- Add blog Form -->
      <section class="my-3 form_container">
        <h2 class="form_head">Add Blog</h2>
        <form class="form_wrp" [formGroup]="addBlogForm" (ngSubmit)="onSubmit();">
          <p class="input_wrp">
            <label>Title<span class="validation-msg">*</span>:</label>
            <input type="text" class="textbox" formControlName="title" required id="">
            <span *ngIf="submitted && f.title.errors" class="validation-msg">
              <span *ngIf="f.title.errors.required">Please enter blog title.</span>
            </span>
          </p>

          <p class="input_wrp">
            <label>Description<span class="validation-msg">*</span>:</label>
            <!-- <ckeditor [editor]="Editor" formControlName="description" ></ckeditor> -->
            <ckeditor
              [editor]="Editor"
              [config]="editorConfig"
              formControlName="description"
              ></ckeditor>
              <span *ngIf="submitted && f.description.errors" class="validation-msg">
                <span *ngIf="f.description.errors.required">Please enter blog description.</span>
              </span>
          </p>

          <p class="input_wrp">
            <label>Tags:</label>
            <input type="text" class="textbox" formControlName="tag" required id="tag">
          </p>

          <p class="input_wrp">
            <label>Refrence(If any):</label>
            <input type="text" class="textbox" formControlName="reference" required id="reference">
          </p>
          <p class="input_wrp">
            <label>Document :</label>
            <input type="file" class="textbox" required id="" (change)="uploadFile($event.target.files)">
          </p>

          <p class="input_wrp">
            <label>Validate Date (If any) :</label>
            <!-- <input type="text" class="textbox" formControlName="validitydate" required id="" (change)="uploadFile($event.target.files)"> -->
            <input formControlName="validitydate"
                class="form-control" placeholder="yyyy-mm-dd"
                name="dp" ngbDatepicker #d="ngbDatepicker"[minDate]="this.minDateConfig" >
                <span class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </span>
          </p>

          <p class="input_wrp checkbox_wrp">
           
            <label> <input type="radio" class="checkbox" value="1"  formControlName="blogtype" >Premium</label> 
            <label> <input type="radio" class="checkbox" value="0"  formControlName="blogtype" > Non-Premium</label> 
           
          </p>
          

          <input type="submit" value="Publish" class="acc_submit_btn" id="publish"> 
        </form>

      </section>

      <app-footer></app-footer>
      
    </div>

  </div>
</div>




