
<app-header></app-header>

<div class="container page_wrp">
  <div class="row">
    
    <!-- main content -->
    <div class="col-lg-8" 
    infinite-scroll
    [infiniteScrollDistance]="1"
    [infiniteScrollUpDistance]="2"
    [infiniteScrollThrottle]="300"
    (scrolled)="onScrollDown()"
    (scrolledUp)="onUp()">
      <!-- blog details -->
      <section class="blog_details_wrp mt-4" >
        <h1 class="blog_title">Nam nec tellus a odio sit tincidunt auctor a ornare odio</h1>
        
        <img src="{{imgUrl}}/blog_img.jpg" alt="..." class="img-fluid">

        <div class="reviews_sec text-right">
          <span>30 Views </span>| <span (click)="like();">15 Likes</span>
        </div>

        <p>
          Morbi accumsan ipsum velit. Nam nec tellus a odio sit tincidunt auctor a ornare odio. 
          Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent 
          permis conubia nostra, per inceptos himenaeos mauris inter erat justo. Nullam a morbi accumsan ipsum velit.
        </p>

        <p>
          Nam nec tellus a odio sit tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. 
          Class aptent taciti sociosqu ad litora torquent permis conubia nostra, per inceptos himenaeos mauris inter erat justo.
          Morbi accumsan ipsum velit. Nam nec tellus a odio sit tincidunt auctor a ornare odio. 
          Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent 
          permis conubia nostra, per inceptos himenaeos mauris inter erat justo.
        </p>

        <div class="tag_wrap">
          <Strong>TAGS:</Strong> Education,Working

          <span class="float-right">share:</span>
        </div>
      </section>

      <!-- Comment form -->
      <div class="comments_sec">
        <h4 class="text-center">Leave a Comment</h4>
        
        <form class="form_wrp" [formGroup]="commentFrom" (ngSubmit)="submitComment()">
          <p>Your email address will not be published</p>

          <div class="row">
            <div class="col-lg-12">
              <p class="input_wrp">
                <textarea type="text" formControlName="comment" class="textbox" placeholder="Your Comment" required id="comment" maxlength="10"></textarea>
                <span *ngIf="submitted && f.comment.errors" class="validation-msg">
                  <span *ngIf="f.comment.errors.required">Please enter your comment.</span>
                </span>
              </p>

              <input type="submit" value="Post Your Comment" class="submit_btn" id="publish"> 
            </div>
          </div>

        </form>
      </div>

    </div>

    <!-- Right Sidebar -->
    <div class="col-lg-4">
     <app-right-side-bar></app-right-side-bar>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->


