


/* ---------------- Main content ---------------- */

.blog_details_wrp{
   background:#fff; 
   overflow: hidden;
   /* padding: 20px; */
}

.blog_title{
    font-size: 23px;
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.blog_details_wrp img{ 
    padding: 10px 20px;
}

.reviews_sec{
    color: #8a8a8a;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px;
}

 .blog_details_wrp p{padding:0 20px;} 

.blog_details_wrp .tag_wrap{
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 15px 0px;
    margin: 0 20px;
    font-size: 14px;
}

.comments_sec{ background-color: #fff;}

.comments_sec h4{
    border-bottom: 2px solid #e8e8e8;
    padding: 15px 0;
    font-size: 19px;
    font-weight: 700;
}

.form_wrp{
    padding: 15px 20px;
    color: #828282;
    font-weight: 600;
}
    
.form_wrp .input_wrp {margin-bottom: 25px;}

.form_wrp label {
    font-weight:700;
    font-size:16px;
}

.form_wrp .textbox {
    width: 100%;
    padding: 8px 10px;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    outline: none;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}

.form_wrp textarea {
    resize: none;
    height: 200px;
}

.form_wrp .checkbox_wrp label{ margin-right: 20px;} 

.submit_btn{
    background: #ec3237;
    color: #fff;
    outline: 0;
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 20px;
}
.test {
    height: 500px;
    /* // width: 200px; */
    overflow-y: scroll;
}
