/* You can add global styles to this file, and also import other style files */


body{
    font-family: 'Nunito Sans', sans-serif;
    background: #f5f5f5;
    font-size: 14px;
    color: #424242;
}

a,a:hover,a:focus{ text-decoration: none;}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button,
button:hover{
    border:none;
    outline:none;
}

button:focus{
    outline:none;
    box-shadow: none;
}


/* ------ Add to .container due to fixed header ( applicable to all pages) ----- */

.page_wrp {margin-top:48px; }


/* ------ User Timeline page (share btn css) ------- */

.post_footer .sharethis-inline-share-buttons .st-btn{
    height: 22px!important;
    line-height: 22px!important;
    margin-right: 8px!important;
    padding: 0 3px!important;
} 

.post_footer .sharethis-inline-share-buttons  .st-btn > img {
    top: 3px!important;
}


/* ================ Media queries ================ */

/* custom grid */
@media (min-width: 1400px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1340px;
    }
}


 